:root {

  --backgroundColor:             rgb(  39,  38,  55      );
  --backgroundTransparentColor: rgba(  39,  38,  55, .8  );
  --sheetBackgroundColor:       rgba(  23,  22,  39, .8  );
  
  --foregroundColor:             rgb( 204, 180, 160      );
  --thinRuleColor:              rgba( 204, 180, 160, .25 );
  
  --headingsColor:               rgb( 198,  52,  63      );
  --headingsUnderlineColor:     rgba( 198,  52,  63, .5  );
  --boldColor:                     var(--foregroundColor);
  --boldUnderlineColor:            var(--thinRuleColor);
  --linkColor:                   rgb( 248, 180, 156      );
  --linkUnderlineColor:         rgba( 248, 180, 156, .25 );
  --linkColorVisited:            rgb( 176, 128, 112      );
  --linkUnderlineColorVisited:  rgba( 176, 128, 112, .25 );
  --hoverColor:                  rgb( 255, 255, 255      );
  --hoverUnderlineColor:        rgba( 255, 255, 255, .25 );
  --tagColor:                      var(--linkColor);
  --tagUnderlineColor:             var(--linkUnderlineColor);
  --adminColor:                  rgb( 151, 192, 137      );
  --adminUnderlineColor:        rgba( 151, 192, 137, .25 );
  --engineTextColor:             rgb(  86,  85, 103      );
  --engineTextUnderlineColor:   rgba(  86,  85, 103, .25 );

  --markedTextBackground:           #5e2e3a;
  --markedImageBorderColor:         #5e2e3a;

  --inputBackgroundColor:        rgb(  96,  48,  60);
  --inputTextColor:                var(--foregroundColor);

  --imageBorderColor:             #333;
  --disabledColor:               rgb(  72,  66,  75      );
  --activeColor:                   var(--headingsColor);
  --errorColor:                  rgb( 198,  52,  63      );
  --verifiedColor:               rgb(  63, 160,  63      );
  --currentItemBackgroundColor:   #333;
  --windowBackgroundColor:       rgb(  72,  36,  48);
  /* --unsavedIndicatorColor */

  /* to match .likely */
  /* --subscribeButtonBackground: rgba(231,231,231,.8); */
  /* --subscribeButtonHoverBackground: rgba(212,212,212,.8); */
  /* --subscribeButtonTextColor: #000; */

  /* to match .likely-light */
  --subscribeButtonBackground: rgba(236,236,236,.16);
  --subscribeButtonHoverBackground: rgba(255,255,255,.48);
  --subscribeButtonTextColor: #fff;

  /* --marginTop */
  /* --marginLeft */
  /* --marginRight */
  /* --marginTopCompact */
  /* --marginLeftCompact */
  /* --marginRightCompact */

  /* --displayLogoMarginal */
  /* --displayLogo */
  /* --displayLogoCompact */

  /* --columnSpacing */

  /* --logoTop */
  /* --blogTitleFontSize */
  /* --blogTitleLineHeight */
  /* --pageHeadingFontSize */
  /* --pageHeadingLineHeight */
  /* --noteTitleFontSize */
  /* --noteTitleLineHeight */
  /* --noteTitleFavouriteFontSize */
  /* --noteTitleFavouriteLineHeight */
  /* --noteTextFontSize */
  /* --noteTextLineHeight */

  /* --mainFontFamily */
  /* --noteMainFontFamily */
  /* --smallFontFamily */

  /* --time */

}



/* Style: Tomorrow Night Eighties (https://highlightjs.org/static/demo/) */

.hljs {
  display: block;
  overflow-x: auto;
  color: #cccccc;
}

.hljs-comment, .hljs-quote {
  color: #999999
}

.hljs-variable, .hljs-template-variable, .hljs-tag, .hljs-name,
.hljs-selector-id, .hljs-selector-class, .hljs-regexp, .hljs-deletion {
  color: #f2777a
}

.hljs-number, .hljs-built_in, .hljs-builtin-name, .hljs-literal,
.hljs-type, .hljs-params, .hljs-meta, .hljs-link {
  color: #f99157
}

.hljs-attribute {
  color: #ffcc66
}

.hljs-string, .hljs-symbol, .hljs-bullet, .hljs-addition {
  color: #99cc99
}

.hljs-title, .hljs-section {
  color: #6699cc
}

.hljs-keyword, .hljs-selector-tag {
  color: #cc99cc
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: bold
}
