:root {
      
  --backgroundColor:             rgb(  58,  65,  73      );
  --backgroundTransparentColor: rgba(  58,  65,  73, .8  );
  --sheetBackgroundColor:       rgba(  74,  81,  89, .8  );

  --foregroundColor:                white;
  --thinRuleColor:               rgb( 255,  93,  87     );

  --headingsColor:               rgb( 255,  93,  87     );
  --headingsUnderlineColor:     rgba( 255,  93,  87, .25);
  --boldColor:                     var(--foregroundColor);
  --boldUnderlineColor:            var(--thinRuleColor);
  --linkColor:                   rgb( 112, 160, 176      );
  --linkUnderlineColor:         rgba( 112, 160, 176, .25 );
  --linkColorVisited:            rgb(  88, 120, 128      );
  --linkUnderlineColorVisited:  rgba(  88, 120, 128, .25 );
  --tagColor:                      var(--linkColor);
  --tagUnderlineColor:             var(--linkUnderlineColor);
  --hoverColor:                  rgb( 255, 174, 143      );
  --hoverUnderlineColor:        rgba( 255, 174, 143, .25 );
  --adminColor:                  rgb( 126, 176, 150      );
  --adminUnderlineColor:        rgba( 126, 176, 150, .25 );
  --engineTextColor:             rgb(  85,  94, 104);
  --engineTextUnderlineColor:   rgba(  85,  94, 104, .25 );

  --markedTextBackground:           #515b66;
  --markedImageBorderColor:        var(--markedTextBackground);

  --inputBackgroundColor:           #2c3238;
  --inputTextColor:                 white;

  --imageBorderColor:             #333;
  --disabledColor:                #808894;
  --activeColor:                  #ffd000;
  --errorColor:                   rgb( 255,  93,  87     );
  --verifiedColor:                rgb(   93, 192, 87     );
  --currentItemBackgroundColor:   #333;
  --windowBackgroundColor:          var(--markedTextBackground);
  /* --unsavedIndicatorColor */

  /* to match .likely */
  /* --subscribeButtonBackground: rgba(231,231,231,.8); */
  /* --subscribeButtonHoverBackground: rgba(212,212,212,.8); */
  /* --subscribeButtonTextColor: #000; */

  /* to match .likely-light */
  --subscribeButtonBackground: rgba(236,236,236,.16);
  --subscribeButtonHoverBackground: rgba(255,255,255,.48);
  --subscribeButtonTextColor: #fff;

  /* --marginTop */
  /* --marginLeft */
  /* --marginRight */
  /* --marginTopCompact */
  /* --marginLeftCompact */
  /* --marginRightCompact */

  /* --displayLogoMarginal */
  /* --displayLogo */
  /* --displayLogoCompact */

  /* --columnSpacing */

  /* --logoTop */
  /* --blogTitleFontSize */
  /* --blogTitleLineHeight */
  /* --pageHeadingFontSize */
  /* --pageHeadingLineHeight */
  /* --noteTitleFontSize */
  /* --noteTitleLineHeight */
  /* --noteTitleFavouriteFontSize */
  /* --noteTitleFavouriteLineHeight */
  /* --noteTextFontSize */
  /* --noteTextLineHeight */

  /* --mainFontFamily */
  /* --noteMainFontFamily */
  /* --smallFontFamily */

  /* --time */

}

.e2-text .lead {
  color: var(--headingsColor);
}

.e2-text .loud {
  color: var(--headingsColor);
}



/* Style: Tomorrow Night Eighties (https://highlightjs.org/static/demo/) */

.hljs {
  display: block;
  overflow-x: auto;
  color: #cccccc;
}

.hljs-comment, .hljs-quote {
  color: #999999
}

.hljs-variable, .hljs-template-variable, .hljs-tag, .hljs-name,
.hljs-selector-id, .hljs-selector-class, .hljs-regexp, .hljs-deletion {
  color: #f2777a
}

.hljs-number, .hljs-built_in, .hljs-builtin-name, .hljs-literal,
.hljs-type, .hljs-params, .hljs-meta, .hljs-link {
  color: #f99157
}

.hljs-attribute {
  color: #ffcc66
}

.hljs-string, .hljs-symbol, .hljs-bullet, .hljs-addition {
  color: #99cc99
}

.hljs-title, .hljs-section {
  color: #6699cc
}

.hljs-keyword, .hljs-selector-tag {
  color: #cc99cc
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: bold
}
