.e2-uploaded-images {
  margin: 0 0 -1em;
  line-height: 0;
}
.e2-uploaded-image {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0 4px 4px 0;
  opacity: 1;
  outline: 1px var(--imageBorderColor) solid;
  transition: outline-color var(--timeLong) ease-out, opacity var(--timeLong) ease-out;

  &:hover,
  &.hover {
    outline-color: var(--hoverColor);
    transition: none;
  }

  &_deleting,
  &_deleting:hover,
  &_deleting.hover {
    outline: 1px transparent solid;
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
    transition-duration: var(--timeLong);
    transition-timing-function: ease-out;
    transition-property: outline-color, opacity, margin;
  }

  &_deleted {
    opacity: 0;
    margin: 0;
  }

  &-inner {
    position: relative;

    img {
      display: block;
    }
  }

  &-noimage {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      width: 142%;
      border-top: 1px solid var(--imageBorderColor);
    }
    &:before {
      left: 0;
      transform: rotate(45deg);
      transform-origin: top left;
    }
    &:after {
      right: 0;
      transform: rotate(-45deg);
      transform-origin: top right;
    }
  }
}
.e2-uploaded-image_broken.e2-uploaded-image_deleting,
.e2-uploaded-image_broken.e2-uploaded-image_deleting:hover,
.e2-uploaded-image_broken.e2-uploaded-image_deleting.hover {
  outline: 1px var(--imageBorderColor) solid;
}
.e2-uploaded-image_deleting .e2-uploaded-image-inner img,
.e2-uploaded-image_deleting .e2-uploaded-image-noimage {
  transition-duration: var(--timeLong);
  transition-timing-function: ease-out;
  transition-property: width, height;
}
.e2-uploaded-image_deleted .e2-uploaded-image-inner img,
.e2-uploaded-image_deleted .e2-uploaded-image-noimage {
  width: 0;
  height: 0;
}
.e2-uploaded-image-popup-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.e2-template-selector {
  &_hidden {
    display: block;
  }
}

.e2-template-preview,
.e2-draft-preview {
  width: 100px;
  display: inline-block;
  vertical-align: top;
  margin: 0 3% 0 0;
}



.e2-template-preview {
  padding: 120px 0 0;
  text-align: left;
  margin-bottom: 12px;
  position: relative;
}

.e2-template-preview-link {
  visibility: hidden;
}
.e2-template-preview-link_visible {
  visibility: visible;
}

.e2-template-preview__input {
  vertical-align: baseline;
}
.e2-template-selector_interactive .e2-template-preview__input {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.e2-template-preview-image {
  transition-property: (outline-color);
  transition-duration: var(--time);
  transition-timing-function: ease-out;
  outline: 1px var(--thinRuleColor) solid;
}

.e2-template-selector_interactive .e2-template-preview:hover,
.e2-template-selector_interactive .e2-template-preview.hover {
  cursor: pointer;
}

.e2-template-preview:hover .e2-template-preview-image,
.e2-template-preview.hover .e2-template-preview-image {
  outline-color: var(--hoverColor);
  transition: none;
}

.e2-template-preview:hover .e2-admin-link,
.e2-template-preview.hover .e2-admin-link {
  color: var(--hoverColor);
  border-color: var(--hoverUnderlineColor);
  transition: none;
}

.e2-template-selector_interactive .e2-template-preview_current:hover,
.e2-template-selector_interactive .e2-template-preview_current.hover {
  cursor: default;
}

.e2-template-selector_interactive .e2-template-preview_current .e2-template-preview-image,
.e2-template-selector_interactive .e2-template-preview_current .e2-template-preview-image,
.e2-template-selector_interactive .e2-template-preview_current:hover .e2-template-preview-image,
.e2-template-selector_interactive .e2-template-preview_current.hover .e2-template-preview-image,
.e2-template-preview__input:checked + .e2-template-name + .e2-template-preview-image {
  outline-color: var(--foregroundColor);
}

.e2-template-selector_interactive .e2-template-preview_current .e2-template-name,
.e2-template-preview__input:checked + .e2-template-name {
  color: var(--boldColor);
  font-weight: bold;
}

.e2-template-selector_interactive .e2-template-preview_current .e2-pseudolink,
.e2-template-selector_interactive .e2-template-preview_current:hover .e2-pseudolink,
.e2-template-selector_interactive .e2-template-preview_current .e2-pseudolink:hover,
.e2-template-selector_interactive .e2-template-preview_current.hover .e2-pseudolink,
.e2-template-selector_interactive .e2-template-preview_current .e2-pseudolink.hover,
.e2-template-preview__input:checked + .e2-template-name .e2-pseudolink,
.e2-template-preview__input:checked + .e2-template-name .e2-pseudolink:hover {
  color: var(--boldColor);
  font-weight: bold;
  border-color: transparent;
  cursor: default;
  transition: none;
}

/*
color: var(--hoverColor);
border-color: var(--hoverUnderlineColor);
 */





.e2-draft-preview {
  min-height: 160px;
  margin-bottom: 1.4em;
  font-family: var(--smallFontFamily);
  font-size: var(--smallFontSize);
  line-height: var(--smallLineHeight);
}
.e2-draft-preview-box {
  position: relative;
  width: 100px;
  height: 120px;
  margin-bottom: 8px;
  outline: 1px var(--backgroundColor) solid;
  transition-property: (outline-color);
  transition-duration: var(--time);
  transition-timing-function: ease-out;
  text-align: left;
  color: var(--inputTextColor);
  background: var(--inputBackgroundColor);
}

.e2-draft-preview-box .e2-unsaved-led {
  position: absolute;
  top: -5px;
  right: -5px;
}

.e2-draft-preview-content {
  height: 120px;
  overflow: hidden;
}
.e2-draft-preview-content img {
  display: block;
  max-width: 100px;
}
.e2-draft-preview-text {
  margin: 4px 8px 0 4px;
  width: 88px;
  font-size: 9px;
  line-height: 12px;
}
.e2-draft-preview a {
  padding-top: 10px;
}
.e2-draft-preview a:hover .e2-draft-preview-box,
.e2-draft-preview a.hover .e2-draft-preview-box {
  outline-color: var(--hoverColor);
  transition: none;
}
.e2-draft-preview-box u {
  text-decoration: none;
}

.e2-draft-preview-author-picture {
  position: absolute;
  right: -5px;
  top: -5px;
}

.e2-draft-preview-author-picture img {
  width: 24px;
  height: 24px;
  border-radius: 12px; 
}



.e2-notes-unsaved {
  display: none;
  margin-bottom: 35px;
}

.e2-upload-controls {
  margin: 12px 0 0;
  position: relative;

  &_hidden {
    display: none;
  }

  &-attach {
    display: block;
    width: 40px;
    height: 40px;
    margin: -12px 0 0 -12px;
    position: relative;
    cursor: pointer;

    &_hidden {
      display: none;
    }

    &-icon {
      display: block;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }

    &-label {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      cursor: pointer;
    }

    &-input {
      position: absolute;
      top: 40px;
      left: 40px;
      opacity: 0;
      cursor: pointer;
    }
  }
}
.e2-upload-controls-uploading {
  width: 40px;
  height: 40px;
  margin: -12px 0 0 -12px;
  position: relative;

  &_hidden {
    display: none;
  }
}


.e2-visual-login {
  color: var(--adminColor);
  opacity: .25;
}

// license ended
.e2-error { color: var(--errorColor); }