.e2-comments {
  word-wrap: break-word;
}

.e2-comments-toggle {
  margin: 0 0 20px;
}

.e2-comment {
  margin: 0 0 20px;
  min-height: 44px;
  position: relative;

  &.e2-reply {
    margin-left: 48px;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.e2-comment-userpic-area {
  position: absolute;
  top: 4px;
  left: 0;
  width: 40px;
  height: 40px;
}

.e2-comment-userpic-area-inner {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.e2-comment-userpic-area-inner-link {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
}

.e2-comment-userpic-area-inner__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.e2-comment-userpic-area-inner-placeholder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.e2-comment-userpic-area-inner-placeholder svg {
  width: 100%;
  height: 100%;
  fill: var(--foregroundColor);
  stroke: var(--foregroundColor);
}

.e2-comment-content-area {
  // outline: red 1px solid;
  margin: 0 40px 0 48px;
}

.e2-comment-control-area {
  // outline: blue 1px solid;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  min-height: 1px;
}

.e2-comment-control-area-actions {
  width: 40px;
  height: 40px;
}

.e2-comment-author {
  color: var(--boldColor);
  font-weight: bold;
}

.e2-comment-author-removed {
  text-decoration: line-through;
  color: var(--errorColor);
}

.e2-comment-author-removed span {
  color: var(--disabledColor);
}

.e2-comments-hidden .e2-section-heading,
.e2-comments-hidden .e2-comment-author,
.e2-comments-hidden .e2-comment {
  color: var(--disabledColor);
}

.e2-comment-date {
  margin: 0 0 6px 0;
  font-family: var(--smallFontFamily);
  font-size: var(--smallFontSize);
  line-height: var(--smallLineHeight);
}

.e2-comment-piece-marked {
  background: var(--markedTextBackground);
  border-radius: 2px;
}
.e2-comment-piece-marked.e2-comment-author-removed {
  background: initial;
  border-radius: initial;
}

.e2-spam, .e2-spam * {
  color: #b96;
}