.e2-admin-couple {
  position: relative;
}
.e2-admin-couple-item,
.e2-admin-couple-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity var(--time) ease-out, transform var(--time) ease-out;
}
.e2-admin-couple-item {
  opacity: 1;
  transform: scale(1);
}
.e2-admin-couple-item_hidden,
.e2-admin-couple_thinking .e2-admin-couple-item {
  opacity: 0;
  transform: scale(0.001);
}
.e2-admin-couple-spinner {
  opacity: 0;
  transform: scale(0.001);
}
.e2-admin-couple_thinking .e2-admin-couple-spinner {
  opacity: 1;
  transform: scale(1);
}
.e2-admin-couple-spinner-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;
  line-height: 0;
}