.jouele {
  font-family: var(--smallFontFamily) !important;
  font-size: 14px !important;
  line-height: 24px !important;
}



/*
    Make a skin for your page using this pattern.
    Change "dark" on your preferred skin name and use option "skin" when init Jouele (see documentation).
*/

.jouele-progress-line-bar_base:after { /* Control 'timeline' */
  background-color: var(--thinRuleColor) !important;
}
.jouele-progress-line-bar_play:after { /* Control 'elapsed' */
  background-color: var(--foregroundColor) !important;
}
.jouele-progress-line-bar_play.jouele-is-playing:after { /* Control 'elapsed' when playing */
  background-color: var(--activeColor) !important;
}
.jouele-progress-line:hover .jouele-progress-line-bar_play:after { /* Control 'elapsed' on hover */
  background-color: var(--hoverColor) !important;
}
.jouele-progress-line-lift { /* Control 'position' */
  background-color: currentColor !important;
}
.jouele-progress-line-lift.jouele-is-playing { /* Control 'position' when playing */
  background-color: var(--activeColor) !important;
}
.jouele-progress-line:hover .jouele-progress-line-lift { /* Control 'position' on hover */
  background-color: var(--hoverColor) !important;
}
.jouele-progress-line-lift:before { /* Preloader animation in control 'position' */
  border-color: var(--thinRuleColor) !important;
}
.jouele-progress-line-lift.jouele-is-playing:before { /* Preloader animation in control 'position' when playing */
  border-color: var(--foregroundColor) !important;
}
.jouele-progress-line:hover .jouele-progress-line-lift:before { /* Preloader animation in control 'position' on hover */
  border-color: var(--hoverColor) !important;
}

.jouele-info-control-button-icon_unavailable .jouele-svg-color,
.jouele-info-control-button-icon_play .jouele-svg-color { /* Control 'play-pause' */
  fill: var(--boldColor) !important;
}
.jouele-info-control-button-icon_play.jouele-is-playing .jouele-svg-color { /* Control 'play-pause' when playing */
  fill: var(--activeColor) !important;
}
.jouele-info-control-button:hover .jouele-info-control-button-icon_play .jouele-svg-color { /* Control 'play-pause' on hover */
  fill: var(--hoverColor) !important;
}

.jouele-info-control-text {
  color: var(--boldColor);
  font-weight: bold;
  font-feature-settings: 'tnum'; 
}

.jouele-control.jouele-is-unavailable {
  opacity: .2;
  filter: grayscale(100%);
}

.jouele-info-control-button-icon_unavailable .jouele-svg-color,
.jouele-info-control-button-icon_play .jouele-svg-color,
.jouele-info-control-button-icon_pause .jouele-svg-color {
  stroke: none;
}