.e2-media-sections {
  margin: 14px -4px 4px -4px;
  font-family: var(--smallFontFamily);
}

.e2-media-sections table {
  width: 100%;
}

.e2-media-sections th, .e2-media-sections td {
  font-size: 14px;
  line-height: 18px;
  padding: 4px 10px 6px 4px;
}

.e2-media-seek.is-interactive,
.e2-media-seek.jouele-is-interactive,
.e2-media-sections-item.is-interactive,
.e2-media-sections-item.jouele-is-interactive {
  cursor: pointer;
}

.e2-media-seek a,
.e2-media-seek a.nu u,
.e2-media-sections-item a,
.e2-media-sections-item a.nu u {
  background: var(--backgroundColor);
}

.e2-media-seek.is-interactive,
.e2-media-seek.jouele-is-interactive,
.e2-media-sections-item.is-interactive span,
.e2-media-sections-item.jouele-is-interactive span {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-color: var(--thinRuleColor);
  border-bottom-style: dashed;
  transition-property: color, border-color;
  transition-duration: var(--time);
  transition-timing-function: ease-out;
}

.e2-media-seek.is-interactive.isolatedHover,
.e2-media-sections-item.is-interactive.isolatedHover,
.e2-media-seek.jouele-is-interactive:hover,
.e2-media-seek.jouele-is-interactive.hover,
.e2-media-sections-item.jouele-is-interactive:hover,
.e2-media-sections-item.jouele-is-interactive.hover {
  color: var(--hoverColor);
}

.e2-media-seek.is-interactive.isolatedHover,
.e2-media-sections-item.is-interactive.isolatedHover span,
.e2-media-seek.jouele-is-interactive:hover,
.e2-media-seek.jouele-is-interactive.hover,
.e2-media-sections-item.jouele-is-interactive:hover span,
.e2-media-sections-item.jouele-is-interactive.hover span {
  border-bottom-color: var(--hoverUnderlineColor);
  transition: none;
}


.e2-media-seek.is-interactive:active,
.e2-media-seek.jouele-is-interactive:active {
  user-select: none;
}

.e2-media-seek.jouele-is-within {
  background: var(--markedTextBackground);
  border-radius: 3px;
}

.e2-media-sections .jouele-is-within {
  background: var(--markedTextBackground);
}

.e2-media-sections .jouele-is-within .e2-media-sections-item-title {
  color: var(--boldColor);
  font-weight: bold;
}

.e2-media-sections-item.jouele-is-interactive.jouele-is-within:hover .e2-media-sections-item-title,
.e2-media-sections-item.jouele-is-interactive.jouele-is-within.hover .e2-media-sections-item-title {
  color: var(--hoverColor);
  font-weight: bold;
}