.e2-select-wrapper {
  display: inline-block;
  vertical-align: top;
  background: var(--inputBackgroundColor);
  border-radius: var(--borderRadius);
  position: relative;
}
.e2-select {
  padding-right: 22px;
  cursor: pointer;
  color: var(--inputTextColor);
  background: transparent;
  width: 100%;

  &_hidden {
    display: none;
  }
}
.e2-select-icon {
  position: absolute;
  top: 50%;
  right: 6px;
  width: 16px;
  height: 16px;
  margin: -8px 0 0;
  line-height: 0;
  pointer-events: none;
  color: var(--inputTextColor);
  transition: color var(--time) ease-out;
}
.e2-select-wrapper:hover .e2-select-icon,
.e2-select-wrapper.hover .e2-select-icon {
  color: var(--hoverColor);
  transition: none;
}