.e2-unavailable { display: table; width: 100%; height: 100%; min-height: 320px }
.e2-unavailable>div { display: table-cell; width: 100%; vertical-align: middle }
.e2-unavailable .e2-logo-svg { width: 160px; height: 160px; margin: auto }

.e2-logo-svg {
  animation-duration: .67s; animation-fill-mode: both; animation-timing-function: ease-out;
  animation-name: bounceIn;
}

@keyframes bounceIn {
  0% { opacity: 0;transform: scale(.3); }
  100% { transform: scale(1);}
}