.e2-heading {
  margin-bottom: 40px;

  h2 {
    margin: 0 0 8px 0;
    font-weight: bold;
    font-size: var(--pageHeadingFontSize);
    line-height: var(--pageHeadingLineHeight);
    color: var(--headingsColor);
  }

  input {
    font-size: 15px;
  }

  .admin-links-floating {
    margin-top: calc((var(--pageHeadingLineHeight) - 24) / 2);
  }
}

.e2-heading-meta {
  margin: 0 0 40px 0;
  width: 100%;
  border: none;
  font-family: var(--smallFontFamily);
  font-size: var(--smallFontSize);
  line-height: var(--smallLineHeight);
}

.e2-heading-gallery+.e2-heading-meta {
  border-top: 1px var(--thinRuleColor) solid;
  padding: 8px 0;
}

.e2-heading-description {
  font-size: var(--noteTextFontSize);
  line-height: var(--noteTextLineHeight);
  margin: 0 0 16px 0;
}

.e2-year-months,
.e2-month-days {
  font-family: var(--smallFontFamily);
  font-size: var(--smallFontSize);
  line-height: var(--smallLineHeight);
  margin: 12px -4px 0;
}

.e2-year-month,
.e2-month-day {
  padding: 4px;
}

.e2-nothing {
  margin: 0 0 60px;
}

.e2-month-day-current {
  background: var(--currentItemBackgroundColor);
  border-radius: 3px;
}

.e2-period-unavailable {
  color: var(--disabledColor);
}

.e2-section-heading {
  color: var(--headingsColor);
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  margin: 0 0 8px 0;
}


