a.nu {
  text-decoration: none;
  border-bottom-width: 0;
}

a.nu u {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: inherit;
}

// a:visited.nu:not(.e2-admin-link) {
//   // this rule is here because border-color: inherit; will not 
//   // actually inherit :visited color due to privacy limitations
//   // so we can’t use visited color for .nu links
//   color: var(--linkColor);
//   border-color: var(--linkUnderlineColor);
// }