<IfModule mod_authz_core.c>
  <FilesMatch ^.*$>
    Require all denied
  </FilesMatch>
  <FilesMatch ^.*\.(jpe?g|png|js|css)$>
    Require all granted
  </FilesMatch>
</IfModule>


<IfModule !mod_authz_core.c>
  <FilesMatch ^.*$>
    Deny from all
  </FilesMatch>

  <FilesMatch ^.*\.(jpe?g|png|js|css)$>
    Allow from all
  </FilesMatch>
</IfModule>